# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run `sudo gitlab-ctl reconfigure`.

production:
  adapter: <%= @db_adapter %>
  encoding: <%= @db_encoding %>
  collation: <%= @db_collation %>
  database: <%= @db_database %>
  pool: <%= @db_pool %>
  username: <%= single_quote(@db_username) %>
  password: <%= single_quote(@db_password) %>
  host: <%= single_quote(@db_host) %>
  port: <%= @db_port %>
  socket: <%= single_quote(@db_socket) %>
  sslmode: <%= single_quote(@db_sslmode) %>
  sslrootcert: <%= single_quote(@db_sslrootcert) || single_quote(@db_sslca) %>
  sslca: <%= single_quote(@db_sslca) || single_quote(@db_sslrootcert) %>
  load_balancing: <%= @db_load_balancing.to_json %>
